body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B0000;
    color: white;
    padding: 20px 0;
    text-align: center;

}

.container {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    color :  #007acc;
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

ul.current-staff {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul.current-staff li {
    margin-bottom: 15px;
    border: 1px solid white;
    padding: 0.5px;
    background-color: black;
    transition: transform 0.2s ease;
    cursor: pointer;
    color: white;
}

ul.current-staff li:hover {
    background-color: rgb(41, 41, 41);
}


ul.current-staff li:hover {
    transform: scale(1.02);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.academic-link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.button-container {
            text-align: center;
        }
        .return-button {
            background-color: #8B0000;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-top: 20px;
            display: inline-block;
        }
	.fade-in-text {
            font-size: 24px;
            color: #333;
            opacity: 0;
            animation: fadeIn 2s ease-in forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }